


<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          Menu
        </a>
      </h1>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item active" href="/">Home</a>
      <% if current_user %>
      <a href="/new">Nuovo Messaggio</a>
      <% end %>
      <% if current_user %>
      <p> Ciao <%= current_user.nickname %> </p>
      <p><a href="/logout">Logout</a></p>
      <% else %>
      <p><a href="/login">Login</a></p>
      <% end %>
      <h3>::GITHUB::</h3>
      <p>User: <a href="<%= github_user["html_url"]%>"><%=  github_user["login"]%></a></p>
      <h5>Repo</h5>
      <% @github_commits.each do |commit| %>
      <tr>
        <td><a href="<%= commit["clone_url"]%>"><%= commit["name"]%></a></td><br>
      </tr>
      <% end %>
    </nav>
  </div>
</div>

<div class="content container">
  <div class="posts">
    <div class="post">

      <h1 class="post-title"> Contattaci </h1>

      <form  action="/contact" method="POST">
        <h6>scrivi qui la tua email</h6>
        <input type="text" name="email">
        <h6>scrivi qui la domanda</h6>
        <textarea rows="10" cols="50" input type="text" name="content"></textarea>
        <input type="submit" value="Invia form">
        <h9><%=@state%></h9>
      </form>

    </div>
  </div>
</div>
