<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          Menu
        </a>
      </h1>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item active" href="/">Home</a>
      <% if current_user %>
      <a href="/new">Nuovo Messaggio</a>
      <% end %>
      <% if current_user %>
      <p> Ciao <%= current_user.nickname %> </p>
      <p><a href="/logout">Logout</a></p>
      <% else %>
      <p><a href="/login">Login</a></p>
      <% end %>

    </nav>
  </div>
</div>


<div class="content container">
  <div class="posts">
    <div class="post">
      <% @article.errors.full_messages.each do |error| %>
      <ul type="disc">
        <li><%= error %></li>
      </ul>
      <% end %>

      <h1  class="post-title"> Modifca Messaggio </h1>

      <% @article.errors.full_messages.each do |error| %>
      <ul type="disc">
        <li><%= error %></li>
      </ul>
      <% end %>

      <% unless @article[:image] == nil %>

        <img src="<%= @article.image.thumb.url%>" id="img"> <a href="#" id="img-x">x</a>
      <% end %>

      <form enctype='multipart/form-data' action="/edit/<%=  @article.id %>" method="POST">
        <input type="checkbox" name="delete_img" value="1" id="img-check" style="display:none" >
        <input name='image' type='file' >
        <h3> Titolo </h3>
        <input type="text" name="title" value="<%= @article.title.to_s %>">
        <h3> Messaggio </h3>
        <textarea rows="4" cols="50" input type="text" name="content" ><%= @article.content %></textarea>
        <input type="submit" value="Inserisci ">
      </form>
    </div>
  </div>
</div>
