<script>

var scene, camera, renderer;
var geometry, material, mesh;

init();
animate();

function init() {
  scene = new THREE.Scene();
  camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 1, 10000 );
  camera.position.z = 1000;
  geometry = new THREE.BoxGeometry( 200, 200, 200 );
  material = new THREE.MeshBasicMaterial( { color: 0xff0000, wireframe: true } );
  mesh = new THREE.Mesh( geometry, material );
  scene.add( mesh );
  renderer = new THREE.WebGLRenderer();
  renderer.setSize( window.innerWidth, window.innerHeight );
  document.body.appendChild( renderer.domElement );
}

</script>

<script src="/js/Three.js"></script>
<script src="/js/plane.js"></script>
<script src="/js/thingiview.js"></script>

<span data-filename= <%= @article[:file3d] %> ></span>

<script>
window.onload = function() {
  thingiurlbase = "/javascripts";
  thingiview = new Thingiview("viewer");
  thingiview.setObjectColor('#C0D8F0');
  thingiview.initScene();
  thingiview.loadSTL("/objects/" + $("span").attr('data-filename'));
}
</script>

<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          Menu
        </a>
      </h1>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item active" href="/">Home</a>
      <% if current_user %>
      <a href="/new">Nuovo Messaggio</a>
      <% end %>
      <% if current_user %>
      <p> Ciao <%= current_user.nickname %> </p>
      <p><a href="/logout">Logout</a></p>
      <% else %>
      <p><a href="/login">Login</a></p>
      <% end %>
      <p><a href="/contact">Contattaci</a></p>
      <h3>::GITHUB::</h3>
      <p>User: <a href="<%= github_user["html_url"]%>"><%=  github_user["login"]%></a></p>
      <h5>Repo</h5>
      <% @github_commits.each do |commit| %>
      <tr>
        <td><a href="<%= commit["clone_url"]%>"><%= commit["name"]%></a></td><br>
      </tr>
      <% end %>
    </nav>
  </div>
</div>


<div class="content container">
  <div class="posts">
    <div class="post">
      <% @article.errors.full_messages.each do |error| %>
      <ul type="disc">
        <li><%= error %></li>
      </ul>
      <% end %>

      <h1  class="post-title"> Modifca Messaggio </h1>

      <% @article.errors.full_messages.each do |error| %>
      <ul type="disc">
        <li><%= error %></li>
      </ul>
      <% end %>

      <% unless @article[:image] == nil %>
      <img src="<%= @article.image.thumb.url%>">
      <% end %>

      <% unless @article[:file3d] == nil %>
      <div style="width:100px;height:100px" id="viewer"></div>
      <% end %>

      <form enctype='multipart/form-data' action="/edit/<%=  @article.id %>" method="POST">
        <% unless @article[:image] == nil %>
        <input type="checkbox" name="delete_img" value="1" "> Cancella immagine
        <br/>
        <% end %>
        <% unless @article[:file3d] == nil %>
        <input type="checkbox" name="delete_3d" value="1">  Cancella file 3d
        <br/>
        <% end %>
        <% if @article[:image] == nil %>
        <input name='image' type='file'>Carica Immagine
        <br/>
        <% end %>
        <% if @article[:file3d] == nil %>
        <input id="name-file" name='file3d' type='file'>Carica 3d
        <br/>
        <% end %>
        <h3> Titolo </h3>
        <input type="text" name="title" value="<%= @article.title.to_s %>">
        <h3> Messaggio </h3>
        <textarea rows="4" cols="50" input type="text" name="content" ><%= @article.content %></textarea>
        <input type="submit" value="Inserisci ">
      </form>
    </div>
  </div>
</div>
