<h1>  </h1>

<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          Menu
        </a>
      </h1>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item active" href="/">Home</a>
      <% if current_user %>
      <p> Ciao <%= current_user.nickname %> </p>
      <p><a href="/logout">Logout</a></p>
      <% else %>
      <p><a href="/login">Login</a></p>
      <% end %>
      <p><a href="/contact">Contattaci</a></p>
      <h3>::GITHUB::</h3>
      <p>User: <a href="<%= github_user["html_url"]%>"><%=  github_user["login"]%></a></p>
      <h5>Repo</h5>
      <% @github_commits.each do |commit| %>
      <tr>
        <td><a href="<%= commit["clone_url"]%>"><%= commit["name"]%></a></td><br>
      </tr>
      <% end %>
    </nav>
  </div>
</div>


<div class="content container">
  <div class="posts">
    <div class="post">
      <h1 class="post-title">Access forbidden</h1>
    </div>
  </div>
</div>
