<h1> Messaggio numero <%= @message.id %></h1>

<p><%= @message.email %></p>
<p><%= @message.content %></p>

<a href="/">Home<a/>


  <% unless @message.comments.empty? %>

  <h1> Commenti </h1>


  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Message</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @message.comments.each do |comment| %>

      <tr>
        <td><%= comment.email %></td>
        <td><%= comment.content %></td>
        <% if current_user %>
          <td><a href="/delete_comment/<%= comment.id %>">Cancella commento<a/></td>
        <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%end%>



    <h1> Scrivi commento </h1>

    <% @comment.errors.each do |error| %>
    <ul type="disc">
      <li><%= error %></li>
    </ul>
    <% end %>


    <form action="/comment" method="POST">
      <input type="hidden" name="message_id" value="<%= @comment.message_id %>">

      <h3> Email </h3>

      <input type="text" name="email" value="<%= @comment.email %>">
      <h3> Messaggio </h3>
      <textarea rows="4" cols="50" input type="text" name="content" ><%= @comment.content %></textarea>
      <input type="submit" value="Inserisci commento ">
    </form>
