<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<img src="file:///Users/albertoriva/works_ruby/crud-sinatra/<%= @article.image%>"/>
<hr>
<a href="/">Home<a/>


  <% unless @article.comments.empty? %>
  <hr>
  <h1> Commenti </h1>

  <hr>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>article</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @article.comments.each do |comment| %>

      <tr>
        <td><%= comment.email %></td>
        <td><%= article.content %></td>
        <% if current_user %>
        <td><a href="/delete_comment/<%= comment.id %>">Cancella commento<a/></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%end%>



    <h1> Scrivi commento </h1>

    <% @comment.errors.each do |error| %>
    <ul type="disc">
      <li><%= error %></li>
    </ul>
    <% end %>


    <form action="/comment" method="POST">
      <input type="hidden" name="article_id" value="<%= @comment.article_id %>">

      <h3> Email </h3>

      <input type="text" name="email" value="<%= @comment.email %>">
      <h3> Messaggio </h3>
      <textarea rows="4" cols="50" input type="text" name="content" ><%= @comment.content %></textarea>
      <input type="submit" value="Inserisci commento ">
    </form>
