<script>

    var scene, camera, renderer;
    var geometry, material, mesh;

    init();
    animate();

    function init() {

        scene = new THREE.Scene();

        camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 1, 10000 );
        camera.position.z = 1000;

        geometry = new THREE.BoxGeometry( 200, 200, 200 );
        material = new THREE.MeshBasicMaterial( { color: 0xff0000, wireframe: true } );

        mesh = new THREE.Mesh( geometry, material );
        scene.add( mesh );

        renderer = new THREE.WebGLRenderer();
        renderer.setSize( window.innerWidth, window.innerHeight );

        document.body.appendChild( renderer.domElement );

    }


</script>

<script src="/js/Three.js"></script>
<script src="/js/plane.js"></script>
<script src="/js/thingiview.js"></script>


<span data-filename= <%= @article[:file3d] %> ></span>


<script>
 window.onload = function() {
   thingiurlbase = "/javascripts";
   thingiview = new Thingiview("viewer");
   thingiview.setObjectColor('#C0D8F0');
   thingiview.initScene();
   thingiview.loadSTL("/objects/" + $("span").attr('data-filename'));
 }
</script>

<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          Menu
        </a>
      </h1>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item active" href="/">Home</a>
      <% if current_user %>
      <a href="/new">Nuovo Messaggio</a>
      <% end %>
      <% if current_user %>
      <p> Ciao <%= current_user.nickname %> </p>
      <p><a href="/logout">Logout</a></p>
      <% else %>
      <p><a href="/login">Login</a></p>
      <% end %>

    </nav>
  </div>
</div>

<div class="content container">
  <div class="posts">
    <div class="post">
      <h1 class="post-title"><%= @article.title %></h1>
      <p><%=RDiscount.new(@article.content).to_html %></p>
      <div id="viewer" style="width:300px;height:300px"></div>
      <% unless @article[:image] == "" %>
      <img src="<%= @article.image.url%>" />

      <% end %>
      <% if @article.save %>
      <h1> Commenti </h1>
      <hr>
      <% @article.comments.each do |comment| %>
      <h3><%= comment.email %></h3>
      <h5><%= comment.content %></h5>
      <% if current_user %>
      <a href="/delete_comment/<%= comment.id%>/<%= comment.article_id%>">Cancella commento</a>
      <% end %>
      <% end %>
      <%end%>

      <h1> Scrivi commento </h1>

      <% @comment.errors.full_messages.each do |error| %>
      <ul type="disc">
        <li><%= error %></li>
      </ul>
      <% end %>
      <form action="/comment" method="POST">
        <input type="hidden" name="article_id" value="<%= @comment.article_id %>">
        <h3> Email </h3>
        <input type="text" name="email" value="<%= @comment.email %>">
        <h3> Messaggio </h3>
        <textarea rows="4" cols="50" input type="text" name="content" ><%= @comment.content %></textarea>
        <input type="submit" value="Inserisci commento ">
      </form>
    </div>
  </div>
</div>
